h1,
ul,
p,
h2,
h3,
h4,
h5 {
    font-family: Helvetica, sans-serif;
}


@media screen and (min-width: 768px) {
    .icon {
        display: none;
    }

    .nav-menu {
        display: initial;
        position: static;
    }

    .nav-item {
        display: inline-block;
        margin-left: 20px;
        position: relative;
    }

    .dropdown {
        position: absolute;
        background-color: black;
        top: 70px;
        right: 0;
        padding-right: 40px;
        width: max-content;
    }

}

h1 {
    color: rgb(69, 69, 139);
    text-align: center;
    font-weight: 500;
    margin: 7%;
}

ul {
    color: rgb(42, 42, 83);

}

p {
    color: rgb(69, 69, 139);
    font-size: 17px;
    font-weight: 350;
    font-size: 18px;
    margin-bottom: 7%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

h2 {
    color: rgb(69, 69, 139);
    text-align: center;
    margin-top: 3%;
    font-weight: 550;
    font-size: 21px;
}

.h2-index {
    font-size: 30px;
    font-weight: 350;
    color: #5570B4;
}

h3 {
    color: rgb(69, 69, 139);
    text-align: center;
    font-weight: 350;
    font-size: 18px;
    margin-top: 3%;
}

h4 {
    color: rgb(69, 69, 139);
}

h5 {
    color: rgb(69, 69, 139);
    font-size: 18px;
    text-align: right;

}

* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

.rectangle_bleu {
    position: relative;
    background-color: #162B6F;
    padding-bottom: 2%;
}

.rectangle_bleu p {
    color: white;
    text-align: center;
    padding-top: 3%;
    font-weight: 100;
    font-size: 16px;
}

.image_rectangle_bleu {
    position: relative;
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-left: 15%;
}

.image_rectangle_bleu img {
    height: 50%;
    width: 100%;
    margin-top: -6%;
}

.bouton_voir {
    background-color: rgb(15, 15, 49);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    margin-bottom: 7%;
    border-radius: 15px;
    font-family: Helvetica, sans-serif;
}

.bouton-cfd a {
    background-color: rgb(21, 111, 255);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    margin-bottom: 7%;
    border-radius: 15px;
    font-family: Helvetica, sans-serif;
}

.bouton-cfd a:hover {
    color: red;
}

.bouton_cpf {
    background-color: black;
    color: white;
    width: fit-content;
    padding: 5px 10px;
    font-size: 15px;
    margin-left: 80%;
    border-radius: 30px;
}

.bouton-cpf123 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bouton-cpf {
    background-color: rgb(226, 226, 226);
    color: rgb(21, 111, 255);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    border-radius: 15px;
    font-family: Helvetica, sans-serif;
    border-color: black;
    border-width: 1px;
    border-style: dotted;
}

.bouton-cpf2 {
    background-color: rgb(21, 111, 255);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    border-radius: 15px;
    font-family: Helvetica, sans-serif;
}

.bouton-cpf3 {
    background-color: rgb(9, 172, 0);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    border-radius: 15px;
    font-family: Helvetica, sans-serif;
}

.liens-utiles {
    margin-bottom: 7%;
}

.liens-utiles a:hover {
    color: #0cbcf2;

}

.liens-utiles h2 {
    font-size: 25px;
    margin-bottom: 4%;
}

.liens-utiles a {
    text-decoration: none;
    color: #555555;
    display: block;
    text-align: center;
    margin-bottom: 2%;

}

.liens-utile2-container {
    background-color: #162B6F;
    padding: 4%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.liens-utiles2 {
    width: 70%;
    background-color: #fff;
    padding-top: 1px;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.liens-utiles2 a:hover {
    color: #0cbcf2;

}

.liens-utiles2 h2 {
    font-size: 26px;
    margin-bottom: 4%;
}

.liens-utiles2 a {
    font-size: 22px;
    text-decoration: none;
    color: #555555;
    display: block;
    text-align: center;
    margin-top: 4%;

}

.bouton-cpf-paypal {
    background-color: rgb(255, 243, 74);
    color: rgb(21, 111, 255);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    margin-bottom: 7%;
    border-radius: 15px;
    font-family: Helvetica, sans-serif;
    border-color: black;
    border-width: 1px;
    border-style: dotted;
}

.bouton-paiement {
    background-color: rgb(66, 126, 255);
    color: white;
    text-decoration: none;
    padding: 8px 20px;
    margin-left: 45%;
    font-size: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 25px;
}

.imagetrading {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.imagetrading img {
    width: 30%;
    border-radius: 50%;
}

.imageinformatique {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.imageinformatique img {
    width: 30%;
    border-radius: 50%;
}

.imagedesign {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.imagedesign img {
    width: 30%;
    border-radius: 50%;
}

.formations_informatiques p,
.formation_design p,
.formation_trading p {
    padding-bottom: 17px;
    margin-top: 5%;
}

.image_secuinfo {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.image_secuinfo img {
    width: 520px;
}

.hr {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 90%;
}

a:hover {
    color: red;
}

.conteneur1 {
    overflow: hidden;
    max-width: 960px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    margin-bottom: 10%;
}

.d1 {
    width: 3800px;
    height: 300px;
    background-color: #EDEDED;
    background-image: url(tripleimageindex.jpg);
    background-size: contain;
    animation: defilement1 50s linear infinite;
}

@keyframes defilement1 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-2880px, 0);
    }
}

.d1:hover {
    animation-play-state: paused;
}

.conteneur2 {
    overflow: hidden;
    max-width: 960px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    margin-bottom: 10%;
}

.d2 {
    width: 3800px;
    height: 130px;
    background-color: #EDEDED;
    background-image: url(imagecpf123.jpg);
    background-size: contain;
    animation: defilement1 60s linear infinite;
}

@keyframes defilement1 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-2880px, 0);
    }
}

.d2:hover {
    animation-play-state: paused;
}

.page-trading h2 {
    margin-bottom: 5%;
    color: #162B6F;
    font-size: 26px;
    text-align: left;
    margin-left: 7%;
}

.page-trading h3 {
    color: rgb(69, 69, 139);
    text-align: left;
    margin-left: 12%;
}

.page-trading h4 {
    margin-left: 12%;
    font-size: 22px;
}

.page-trading h5 {
    text-align: left;
    margin-left: 57%;
    margin-top: -4%;
}

.page-trading p {
    text-align: left;
    margin-left: 57%;
    margin-top: -2%;
}

.image-trading img {
    width: 400px;
    margin-left: 10%;
}

.texte-cfd {
    margin-top: -39%;
}

.contenu-trading-cfd h2 {
    margin-left: 22%;
    font-size: 24px;
    margin-top: 13%;
}

.contenu-trading-cfd p {
    margin-left: 10%;
    font-size: 20px;
    color: #4a61ae;
}

.texte-intensive {
    margin-top: -34%;
}

.formu-contact {
    width: 100%;
    height: 65vh;
    background-color: #162B6F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 7%;
    margin-bottom: 7%;
    background-image: url(img-formu.png);
}

.formu {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 620px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formu h2 {
    color: #5a5a5a;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 150%;
}

.formu input,
textarea {
    border: 0;
    margin: 10px 0;
    padding-left: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 25px;
    border-radius: 10px;
}

.formu ::placeholder {
    font-size: 18px;

}

.formu button {
    padding: 15px;
    background: #0cbcf2;
    color: #EDEDED;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

.img-qualiopi {
    display: flex;
    justify-content: center;
}

.img-qualiopi img {
    width: 50%;
}

.bouton-cpf123-mob,
.bouton-cpf2-mob,
.bouton-cpf-mob,
.bouton-cpf3-mob {
    display: none;
}


/*  Small device */
@media screen and (max-width:768px) {

    body {
        margin-top: 30%;
    }

    /*  Navigation */

    .navbar {
        background-color: #162B6F;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    .logo {
        height: 50px;
        display: flex;
        align-items: center;
    }
    
    .icon {
        fill: #ffffff;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .navbar input,
    .nav-menu,
    .dropdown {
        display: none;
    }

    [id^=btn]:checked+ul {
        display: block;
    }

    .nav-menu {
        background-color: #162B6F;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        top: 100%;
    }

    .nav-item a,
    .drop-item a,
    .show {
        color: #ffffff;
        text-decoration: none;
        line-height: 70px;
        font-size: 1.2rem;
        line-height: 3;
        margin-left: 2%;
    }

    .drop-item a {
        margin-left: 6%;
        font-size: 1.1rem;
    }

    .nav-menu a:hover,
    .show:hover {
        color: red;
    }

    h1 {
        margin-left: 2%;
        margin-right: 2%;
        font-size: 25px;
    }

    h2 {
        margin-top: 5%;
        font-size: 18px;
        margin-left: 3%;
        margin-right: 3%;
    }

    .h2-index {
        color: rgb(69, 69, 139);
        font-size: 23px;
    }

    h3 {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .hr {
        margin-top: 17%;
    }

    p {
        font-size: 17px;
        margin-top: 10%;
    }

    .rectangle_bleu {
        width: 100%;
        padding-bottom: 4%;
    }

    .rectangle_bleu p {
        font-size: 14px;

    }

    .image_rectangle_bleu {
        display: flex;
        position: relative;
        justify-content: center;
        width: 70%;
        gap: 5%;
    }

    .image_rectangle_bleu img {
        height: auto;
        width: 30%;
    }

    .imagetrading {
        display: flex;
        justify-content: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .imagetrading img {
        width: 60%;
        border-radius: 48%;
    }

    .imageinformatique {
        display: flex;
        justify-content: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .imageinformatique img {
        width: 60%;
        border-radius: 48%;
    }

    .imagedesign {
        display: flex;
        justify-content: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .imagedesign img {
        width: 60%;
        border-radius: 48%;
    }

    .bouton_cpf {
        background-color: black;
        color: white;
        width: fit-content;
        padding: 5px 6px;
        font-size: 15px;
        margin-left: 75%;
        margin-bottom: 7%;
        border-radius: 20px;
    }

    .image_secuinfo {
        display: flex;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .image_secuinfo img {
        width: 80%;
    }

    .bouton-cpf123-mob {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bouton-cpf-mob {
        background-color: rgb(226, 226, 226);
        color: rgb(21, 111, 255);
        text-decoration: none;
        padding: 10px 15px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;
        margin-bottom: 7%;
        border-radius: 15px;
        font-family: Helvetica, sans-serif;
        border-color: black;
        border-width: 1px;
        border-style: dotted;
    }

    .bouton-cpf2-mob {
        background-color: rgb(21, 111, 255);
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;
        margin-bottom: 7%;
        border-radius: 15px;
        font-family: Helvetica, sans-serif;
    }

    .bouton-cpf3-mob {
        background-color: rgb(9, 172, 0);
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;
        margin-bottom: 7%;
        border-radius: 15px;
        font-family: Helvetica, sans-serif;
    }

    .bouton-cpf-paypal {
        background-color: rgb(255, 243, 74);
        color: rgb(21, 111, 255);
        text-decoration: none;
        padding: 10px 15px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;
        margin-bottom: 7%;
        border-radius: 15px;
        font-family: Helvetica, sans-serif;
        border-color: black;
        border-width: 1px;
        border-style: dotted;
    }

    .liens-utiles {
        margin-bottom: 7%;
    }

    .liens-utiles a:hover {
        color: #0cbcf2;

    }

    .liens-utiles h2 {
        font-size: 25px;
        margin-bottom: 4%;
    }

    .liens-utiles a {
        text-decoration: none;
        color: #555555;
        display: block;
        text-align: center;
        margin-bottom: 2%;

    }

    .liens-utile2-container {
        background-color: #162B6F;
        padding: 4%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .liens-utiles2 {
        width: 70%;
        background-color: #fff;
        padding-top: 1px;
        padding-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
    }

    .liens-utiles2 a:hover {
        color: #0cbcf2;

    }

    .liens-utiles2 h2 {
        font-size: 23px;
        margin-bottom: 3%;
    }

    .liens-utiles2 a {
        text-decoration: none;
        color: #555555;
        display: block;
        text-align: center;
        margin-bottom: 4%;

    }

    .img-qualiopi {
        display: flex;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: -3%;
    }

    .img-qualiopi img {
        width: 90%;
    }

    .bouton-cpf123 {
        display: none;
    }

}